body {
    min-width: 400px;
    padding: 0;
    margin: 0;
    background-color: #30302e;
}

#title-bar {
    min-width: 400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    background-color: #000000;
    padding: 0;
    margin: 0;
    -webkit-app-region: drag;
}

#icon {
    position: fixed;
    left: 0;
    min-width: 40px;
    height: 40px;
}

#title {
    position: fixed;
    min-width: 220px;
    top: 0;
    left: 40px;
    color: white;
    box-sizing: border-box;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
    color: white;
    min-width: 80px;
}

#title-bar-btns > button {
    min-width: 25px;
}

#main-body {
    background-color: #30302e;
    width: 100%;
    height: calc(100vh - 40px);
}

#side-menu {
    min-width: 200px;
    width: 20%;
    height: calc(100vh - 40px);
    background-color: #1a1a18;
}

.lobby {
    text-align: center;
    width: 100%;
    min-height: 25px;
    color: black;
    border: 0;
    background-color: #1a1a18;
    color: slategray;
    margin: 0 0 5px 0;
}

.lobby:hover {
    background-color: #2e2e2c;
}