body {

    padding: 0;
    margin: 0;
    background-color: #30302e;
}

#title-bar {
    --webkit-app-region: drag;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    background-color: #000000;
    padding: 0;
    margin: 0;
    -webkit-app-region: drag;
}

#title {
    position: fixed;
    top: 0;
    left: 6px;
    color: white;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
    color: white;
}

#main-body {
    background-color: #30302e;
    width: 100%;
    height: calc(100vh - 40px);
}

#side-menu {
    min-width: 200px;
    width: 20%;
    height: calc(100vh - 40px);
    background-color: #1a1a18;
}

.lobby {
    text-align: center;
    width: 100%;
    min-height: 25px;
    color: black;
    border: 0;
    background-color: #1a1a18;
    color: slategray;
    margin: 0 0 5px 0;
}

.lobby:hover{
    background-color: #2e2e2c;
}